body {
  font: 1.2em / 1.5 sans-serif;
}

#special{
  background-color: yellow;
}

.alert.stop{
  background-color: red;
}

.alert.go{
  background-color: green;
}


.alert{
  border: 2px solid grey;
}

